/* INDEX */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.bg-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.body-index{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.grow, .git {
    width: 10%;
    margin: 0 5px;
    text-decoration: none;
    color: #ffffff;
}
.arrow{
    position: absolute;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    width: 100%;
    animation: mostrar 3s infinite;
}
.arrow img{
    width: 5%;
    margin-top: 3%;
}
a{
    display: flex;
    justify-content: center;
    width: 100%;
}
a .iron-fly{
    width: 20%;
    position: relative;
    animation: flying 3s infinite ease;
}
.background{
    position: absolute;
    height: 100vh;
    width: 100%;
}
.iron-bg1{
    background-repeat: no-repeat;
    background-size: cover;
    animation: opacity 3s infinite ease;
}
.iron-bg2{
    background-repeat: no-repeat;
    background-size: cover;
}
.heart{
    width: 16%;
    height: 29%;
    animation: rotate 1s linear infinite;
    border: 2px dashed #49ecf5;
    border-radius: 50%;
}
.black-iron{
    width: 10%;
    position: absolute;
    right: 30%;
    top: 10%;
    animation: black-flying 5s normal ease;
}
.hulkbuster{
    width: 25%;
    position: absolute;
    left: 5%; 
    bottom: 5%;
    animation: hulkbuster 1.5s normal;
}
.opaco{
    opacity: 0;
    animation: opaco 2.5s infinite ease-in-out;
   }

footer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 35px;
    position: absolute;
    z-index: 5;
    bottom: 0;
}

   @keyframes mostrar {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
   }

   @keyframes opaco {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.3;
    }
    25%{
        opacity: 0.7;
    }
    50%{
        opacity:1;
    }
    75%{
        opacity: 0.5;
    }
    90%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
    }
   }

   @keyframes rotate {
        100% {-webkit-transform: rotate(360deg);}
   }



@keyframes flying{
    0%{
        top: 0px;
    }
    5%{
        top: 5px
    }
    10%{
        top: 10px;
    }
    15%{
        top: 15px;
    }
    20%{
        top: 20px;
    }
    25%{
        top: 25px;
    }
    30%{
        top: 30px;
    }
    35%{
        top: 35px;
    }
    40%{
        top: 40px;
    }
    45%{
        top: 45px;
    }
    50%{
        top: 50px;
    }
    55%{
        top: 45px;
    }
    60%{
        top: 40px;
    }
    65%{
        top: 35px;
    }
    70%{
        top: 30px;
    }
    75%{
        top: 25px;
    }
    80%{
        top: 20px;
    }
    90%{
        top: 15px;
    }
    95%{
        top: 10px;
    }
    100%{
        top: 0px;
    }
}

@keyframes black-flying{
    0%{
        top: 0%;
        right: -20%;
    }
    50%{
        top: 30%;
        right: 30%
    }
}

@keyframes hulkbuster {
    0%{
        /* opacity: 0; */
        bottom: 100%;
    }
    100%{
        /* opacity: 1; */
        bottom: 5%;
    }
}
